.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.idea/compiler.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
app/google-services.json
app/src/debug/ic_launcher-playstore.png
app/src/debug/res/drawable/ic_launcher_background.xml
app/src/debug/res/mipmap-anydpi-v26/ic_launcher.xml
app/src/debug/res/mipmap-anydpi-v26/ic_launcher_round.xml
app/src/debug/res/mipmap-hdpi/ic_launcher.png
app/src/debug/res/mipmap-hdpi/ic_launcher_foreground.png
app/src/debug/res/mipmap-hdpi/ic_launcher_round.png
app/src/debug/res/mipmap-mdpi/ic_launcher.png
app/src/debug/res/mipmap-mdpi/ic_launcher_foreground.png
app/src/debug/res/mipmap-mdpi/ic_launcher_round.png
app/src/debug/res/mipmap-xhdpi/ic_launcher.png
app/src/debug/res/mipmap-xhdpi/ic_launcher_foreground.png
app/src/debug/res/mipmap-xhdpi/ic_launcher_round.png
app/src/debug/res/mipmap-xxhdpi/ic_launcher.png
app/src/debug/res/mipmap-xxhdpi/ic_launcher_foreground.png
app/src/debug/res/mipmap-xxhdpi/ic_launcher_round.png
app/src/debug/res/mipmap-xxxhdpi/ic_launcher.png
app/src/debug/res/mipmap-xxxhdpi/ic_launcher_foreground.png
app/src/debug/res/mipmap-xxxhdpi/ic_launcher_round.png
.idea/vcs.xml
app/release/app-release.aab
